@font-face {
  font-family: "Josefin Sans";
  src: url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Space+Grotesk:wght@300..700&display=swap") format("opentype");
}
@font-face {
  font-family: "Sniglet";
  src: url("https://fonts.googleapis.com/css2?family=Sniglet:wght@400;800&display=swap") format("ttf");
}
* {
  margin: 0;
}

#app {
  display: flex;
  flex-flow: wrap row;
  /* 3 marca */
  /* 10 */
  /* 31 */
  overflow: hidden;
  font-family: "Josefin Sans", sans-serif;
}
#app main {
  width: 95%;
  background-image: url("../dot.svg");
  background-repeat: repeat;
}
#app main .sleeve-storage .sleeve-container {
  display: flex;
  flex-flow: row wrap;
  border: #10a46e 3px solid;
  color: #d6df7e;
  background-color: #feeff6;
  width: 250px;
  height: 60px;
  border-radius: 25px;
  padding: 0.5vmin;
  align-items: center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: grab;
  opacity: 0.85;
  transition: 0.1s;
}
#app main .sleeve-storage .sleeve-container .content-container {
  width: 80%;
  height: 100%;
  text-overflow: ellipsis;
}
#app main .sleeve-storage .sleeve-container .content-container p {
  background-color: #10a46e;
  border-bottom-right-radius: 25px;
  border-top-left-radius: 25px;
  padding-left: 1vmin;
  margin-top: -0.5vmin;
  margin-left: -0.5vmin;
}
#app main .sleeve-storage .sleeve-container .content-container a {
  all: unset;
  color: #d582ae;
  width: 90%;
  font-size: 1.5vmin;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-left: 0.5vmin;
  display: inline-block;
}
#app main .sleeve-storage .sleeve-container .content-container a:hover {
  color: #dd4b9b;
  cursor: pointer;
}
#app main .sleeve-storage .sleeve-container button {
  cursor: pointer;
  background-color: #d6df7e;
  color: #5a5dbc;
  border: none;
  border-radius: 25px;
  font-size: 180%;
}
#app main .sleeve-storage .active.container .context-menu {
  color: #5a5dbc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #feeff6;
  border-radius: 7px 25px 15px 25px;
  padding: 1vw 1vh;
}
#app main .sleeve-storage .active.container .context-menu .tile {
  transition: 0.1s;
  width: 6vw;
  height: 2vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
}
#app main .sleeve-storage .active.container .context-menu .tile:hover {
  transform: scale(115%, 115%);
  background-color: #f8b7d5;
  font-weight: 600;
  border-radius: 10px 25px 15px 25px;
  cursor: pointer;
}
#app main .sleeve-storage .sleeve-container:hover {
  opacity: 1;
}
#app .container-dashboard {
  width: 5%;
  height: 100vh;
  outline: 3px #d582ae solid;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
#app .container-dashboard .tile {
  outline: 1px #d582ae solid;
  background-color: #feeff6;
  width: 5vw;
  height: 5vw;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-family: "Sniglet", sans-serif;
  font-weight: 600;
  color: #5a5dbc;
}
#app .dialog-container {
  width: 20%;
  height: 100%;
  position: absolute;
  left: 80%;
  outline: 4px #d582ae solid;
  background-color: #f8b7d5;
}
#app .dialog-container button, #app .dialog-container input[type=button] {
  cursor: pointer;
}
#app .dialog-container .dialog-header {
  width: 100%;
  height: 10%;
}
#app .dialog-container .dialog-header button {
  width: 25%;
  height: 25%;
  background-color: #faa49a;
  border-top: none;
  border-left: none;
  border-right: 3px #d582ae solid;
  border-bottom: 3px #d582ae solid;
  border-radius: 0 0 15px 0;
  color: #c4391d;
  font-weight: 700;
}
#app .dialog-container .dialog-content {
  width: 100%;
  height: 80%;
  color: #5a5dbc;
}
#app .dialog-container .dialog-content input[type=text], #app .dialog-container .dialog-content input[type=url] {
  border: 0.23em #10a46e solid;
  width: 18vw;
  height: 3vh;
  border-radius: 10px 25px 15px 25px;
  background-color: #feeff6;
  color: #5a5dbc;
}
#app .dialog-container .dialog-content form {
  padding: 1vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 2.5vh;
}
#app .dialog-container .dialog-content form label {
  text-transform: capitalize;
  font-weight: 600;
}
#app .dialog-container .dialog-content form #submit {
  width: 9vw;
  height: 3vh;
  background-color: #d6df7e;
  color: #10a46e;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 25px;
  border: none;
  margin: 1em;
}

/*# sourceMappingURL=style.css.map */
