@font-face {
  font-family: 'Josefin Sans';
  src: url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Space+Grotesk:wght@300..700&display=swap') format('opentype');
}


@font-face {
  font-family: 'Sniglet';
  src: url('https://fonts.googleapis.com/css2?family=Sniglet:wght@400;800&display=swap') format('ttf');
}

//variables
$text-color-blue:#ffb2f7;

$input-background-color-light-blue:#e8d9ed;

$dark-green:#426bc2;
$lime-green:#0b1957;

$very-light-pink:#36337e;
$light-pink:#88a2ff;
$mid-pink-color:#222023;
$text-color-hottest-pink:#f7f4ed;

* {
  margin: 0;
}
#app {
    display: flex;
    flex-flow: wrap row;
    /* 3 marca */
    /* 10 */ 
    /* 31 */
    overflow: hidden;
    font-family: 'Josefin Sans', sans-serif;

    main {
      width: 95%;
      background-image: url("../dot.svg");
      background-repeat:repeat;

      .sleeve-storage{
        .sleeve-container {
          display: flex;
          flex-flow: row wrap;
          border:$dark-green 3px solid;
          color:$lime-green;
          background-color: $very-light-pink;
          width: 250px;
          height: 60px;
          border-radius: 25px;
          padding: 0.5vmin;
          align-items: center;
          -webkit-touch-callout: none;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          cursor: grab;
          opacity: 0.85;
          transition: 0.1s;

          .content-container {
            width: 80%;
            height: 100%;

            p{
              background-color: $dark-green;
              border-bottom-right-radius: 25px;
              border-top-left-radius: 25px;
              padding-left: 1vmin;
              margin-top: -0.5vmin;
              margin-left: -0.5vmin;
            }

            a {
              all: unset;
              color: $mid-pink-color;
              font-size: 1.5vmin;
              max-width: 50px;
              width: 50px;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
              padding-left: 0.5vmin;
            }

            a:hover{
              color:$text-color-hottest-pink;
              cursor: pointer;
              //TODO: wiktor mowi ze toggable, ale ja nie
            }
          }
          button{
            cursor: pointer;
            background-color: $lime-green;
            color:$text-color-blue;
            border:none;
            border-radius: 25px;
            font-size: 180%;
          }
        }
        .active.container{
          margin-left: 1vw;
          margin-top: 1vh;
          .context-menu{
            color:$text-color-blue;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: $very-light-pink;
            border-radius: 7px 25px 15px 25px;
            padding: 1vw 1vh;
            
            .tile{
              transition: 0.1s;
              width: 6vw;
              height:2vh;
              display: flex;
              justify-content: center;
              align-items: center;
              padding: 2px;

            }
            .tile:hover{
              transform: scale(115%, 115%);
              background-color:$light-pink;
              font-weight: 600;
              border-radius: 10px 25px 15px 25px;
              cursor: pointer;
            }
          }
        }
        .sleeve-container:hover{
          opacity: 1;
        }
      }
    }

    .container-dashboard {
      width: 5%;
      height: 100vh;
      outline: 3px $mid-pink-color solid;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
    
      .tile {
        outline: 2px $mid-pink-color solid;
        background-color: $very-light-pink;
        width: 5vw;
        height: 5vw;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        font-family: 'Sniglet';
        font-weight: 600;
        color: $text-color-blue;
      }
    }

    .dialog-container {
      width:20%;
      height:100%;
      position: absolute;
      left: 80%;
      outline: 4px $mid-pink-color solid;
      background-color: $very-light-pink;
      overflow: hidden;

      button, input[type="button"]{
        cursor: pointer;
      }

      .dialog-header {
        width: 100%;
        height: 10%;

        //variables close button
        $background-color-light-red:#faa49a;
        $border-color-shadow-mid-red:#e9897e;
        $text-color-red:#c4391d;

        button{
          width:25%;
          height: 25%;
          background-color:$background-color-light-red;
          border-top:none;
          border-left: none;
          border-right:1px $border-color-shadow-mid-red solid;
          border-bottom:1px $border-color-shadow-mid-red solid;
          border-radius: 0px 0px 15px 0px;
          color:$text-color-red;
          font-weight: 700;
          box-shadow: 1px 1px $border-color-shadow-mid-red;
        }
      }
    
      .dialog-content {
        width: 100%;
        height: 80%;
        color:$text-color-blue;

        input[type="text"], input[type="url"]{
          border:0.23em $dark-green solid;
          width:18vw;
          height:3vh;
          border-radius:10px 25px 15px 25px;
          background-color: $input-background-color-light-blue;
          color: $text-color-blue;
        }

        form{
          padding: 1vw;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          line-height: 2.5vh;

          label{
            text-transform: capitalize;
            font-weight: 600;
          }

          #submit{
            width:9vw;
            height: 3vh;
            background-color: $lime-green;
            color: $dark-green;
            text-transform: uppercase;
            font-weight: 700;
            border-radius: 25px;
            border: none;
            margin:1em;
            border-right: $dark-green 1px solid;
            border-bottom: $dark-green 1px solid;
            box-shadow: 1px 1px;
          }
        }

        .theme-select, .locale-select{
          width: 100%;
          height: 3em;
          padding: 0.2em;

          select{
            border-radius: 25px;
            width: 11vw;
            height:3vh;
            margin-left: 0.5em;
            background-color:$input-background-color-light-blue;
            border-radius:10px 25px 15px 25px;
            border:0.2em $dark-green solid;
            color:$text-color-blue;
            font-weight: 600;
            padding: 0.2em;
          }

          button{
            width: 5vw;
            height:2.5vh;
            border-radius: 17px;
            margin-left: 0.7em;
            background-color:$light-pink;
            border-right: $mid-pink-color 1px solid;
            border-bottom: $mid-pink-color 1px solid;
            box-shadow: 1px 1px;
            border:none;
            color:$text-color-hottest-pink;
            font-weight: 600;
          }
        }
      }
    }
}