@font-face {
  font-family: 'Josefin Sans';
  src: url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Space+Grotesk:wght@300..700&display=swap') format('opentype');
}


@font-face {
  font-family: 'Sniglet';
  src: url('https://fonts.googleapis.com/css2?family=Sniglet:wght@400;800&display=swap') format('ttf');
}

* {
  margin: 0;
}
#app {
    display: flex;
    flex-flow: wrap row;
    /* 3 marca */
    /* 10 */ 
    /* 31 */
    overflow: hidden;
    font-family: 'Josefin Sans', sans-serif;

    main {
      width: 95%;
      background-image: url("../dot.svg");
      background-repeat:repeat;

      .sleeve-storage{
        .sleeve-container {
          display: flex;
          flex-flow: row wrap;
          border:#10a46e 3px solid;
          color:#d6df7e;
          background-color: #feeff6;
          width: 250px;
          height: 60px;
          border-radius: 25px;
          padding: 0.5vmin;
          align-items: center;
          -webkit-touch-callout: none;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          cursor: grab;
          opacity: 0.85;
          transition: 0.1s;

          .content-container {
            width: 80%;
            height: 100%;

            p{
              background-color: #10a46e;
              border-bottom-right-radius: 25px;
              border-top-left-radius: 25px;
              padding-left: 1vmin;
              margin-top: -0.5vmin;
              margin-left: -0.5vmin;
            }

            a {
              all: unset;
              color: #d582ae;
              font-size: 1.5vmin;
              max-width: 50px;
              width: 50px;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
              padding-left: 0.5vmin;
            }

            a:hover{
              color:#dd4b9b;
              cursor: pointer;
              //TODO: wiktor mowi ze toggable, ale ja nie
            }
          }
          button{
            cursor: pointer;
            background-color: #d6df7e;
            color:#5a5dbc;
            border:none;
            border-radius: 25px;
            font-size: 180%;
          }
        }
        .active.container{
          margin-left: 1vw;
          margin-top: 1vh;
          .context-menu{
            color:#5a5dbc;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: #feeff6;
            border-radius: 7px 25px 15px 25px;
            padding: 1vw 1vh;
            
            .tile{
              transition: 0.1s;
              width: 6vw;
              height:2vh;
              display: flex;
              justify-content: center;
              align-items: center;
              padding: 2px;

            }
            .tile:hover{
              transform: scale(115%, 115%);
              background-color:#f8b7d5;
              font-weight: 600;
              border-radius: 10px 25px 15px 25px;
              cursor: pointer;
            }
          }
        }
        .sleeve-container:hover{
          opacity: 1;
        }
      }
    }

    .container-dashboard {
      width: 5%;
      height: 100vh;
      outline: 3px #d582ae solid;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
    
      .tile {
        outline: 2px #d582ae solid;
        background-color: #feeff6;
        width: 5vw;
        height: 5vw;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        font-family: 'Sniglet';
        font-weight: 600;
        color: #5a5dbc;
      }
    }

    .dialog-container {
      width:20%;
      height:100%;
      position: absolute;
      left: 80%;
      outline: 4px #d582ae solid;
      background-color: #feeff6;
      overflow: hidden;

      button, input[type="button"]{
        cursor: pointer;
      }

      .dialog-header {
        width: 100%;
        height: 10%;

        button{
          width:25%;
          height: 25%;
          background-color:#faa49a;
          border-top:none;
          border-left: none;
          border-right:1px #e9897e solid;
          border-bottom:1px #e9897e solid;
          border-radius: 0px 0px 15px 0px;
          color:#c4391d;
          font-weight: 700;
          box-shadow: 1px 1px #e9897e;
        }
      }
    
      .dialog-content {
        width: 100%;
        height: 80%;
        color:#5a5dbc;

        input[type="text"], input[type="url"]{
          border:0.23em #10a46e solid;
          width:18vw;
          height:3vh;
          border-radius:10px 25px 15px 25px;
          background-color: #e0eaff;
          color: #5a5dbc;
        }

        form{
          padding: 1vw;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          line-height: 2.5vh;

          label{
            text-transform: capitalize;
            font-weight: 600;
          }

          #submit{
            width:9vw;
            height: 3vh;
            background-color: #d6df7e;
            color: #10a46e;
            text-transform: uppercase;
            font-weight: 700;
            border-radius: 25px;
            border: none;
            margin:1em;
            border-right: #10a46e 1px solid;
            border-bottom: #10a46e 1px solid;
            box-shadow: 1px 1px;
          }
        }

        .theme-select, .locale-select{
          width: 100%;
          height: 3em;
          padding: 0.2em;

          select{
            border-radius: 25px;
            width: 11vw;
            height:3vh;
            margin-left: 0.5em;
            background-color:#e0eaff;
            border-radius:10px 25px 15px 25px;
            border:0.2em #10a46e solid;
            color:#5a5dbc;
            font-weight: 600;
            padding: 0.2em;
          }

          button{
            width: 5vw;
            height:2.5vh;
            border-radius: 17px;
            margin-left: 0.7em;
            background-color:#f8b7d5;
            border-right: #d582ae 1px solid;
            border-bottom: #d582ae 1px solid;
            box-shadow: 1px 1px;
            border:none;
            color:#dd4b9b;
            font-weight: 600;
          }
        }
      }
    }
}